<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albatross.CodeGen" version="1.0.2-alpha" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net471" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net471" />
</packages>